/*RESERVA*/

.calendar {
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}

.calendar div {
    height: 10vh;
    border: solid gray 1px;
    text-align: center;
}

.calendar div:hover {
    background-color: #3F5B97;
    color: white;
    cursor: pointer;
}

.infoCalendar {
    display: flex;
    justify-content: space-around;
}

.modalCalendar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentCalendarModal {
    background-color: white;
    width: 50%;
    padding: 30px;
    display: block;
    border-radius: 5px;
}

.section {
    height: 100vh;
}

.data {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dataReserva {
    background-color: white;
    padding: 15px;
    display: block;
    border-radius: 5px;
}

#verDatos {
    position: fixed;
    top: 11%;
    display: flex;
}


/*LOGIN*/

.loginBody {
    margin: none;
    box-sizing: border-box;
    background-image: url(https://www.xtrafondos.com/descargar.php?id=3963&resolucion=3840x2160
);
    background-size: 110%;
    background-repeat: no-repeat;
}

.loginForm {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    border-radius: 20px;
    width: 50%;
    height: 70%;
}

.btn-dark {
    font-size: 120%;
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-right: 10px;
    border-radius: 40px;
    background: rgb(31, 0, 0);
    background: linear-gradient(100deg, rgba(31, 0, 0, 1) 0%, rgba(161, 36, 36, 1) 52%, rgba(194, 1, 1, 1) 100%);
}

.btn-secondary {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(18, 13, 13, 1) 52%);
    color: white;
    font-size: 130%;
}

.dlc {
    margin: 5px;
    width: 25%;
}

#navLogin {
    display: flex;
}


/*Registrarse*/

.ichi {
    background-image: url("https://www.xtrafondos.com/wallpapers/one-piece-artwork-4011.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-size: cover;
}

.moon {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.lut {
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.ak {
    color: white;
}


/*PROFILE*/

.bodyProfile {
    border: none;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/265/279/817/anime-sky-cityscape-clouds-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    box-sizing: border-box;
}

.lag {
    border: 20px;
    width: 70%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.nameProfile {
    margin-left: 10px;
}

.pro {
    padding: 0;
    margin: 20%;
    height: auto;
    width: 65%;
    border-radius: 60%;
}

.abs {
    margin-bottom: 30px;
    margin: 30px;
    content: center;
    margin-left: 20px;
    margin-right: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.contentProfile {
    display: grid;
    grid-template-columns: 30% 70%;
}


/*superior permissions*/

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 95%;
    margin: auto;
    color: white;
}


/*FOOTER*/

.title {
    font-family: 'Redressed', cursive;
    width: 100%;
}

.col-lg-2 {
    width: 25%;
    height: auto;
    align-items: center;
    padding-left: 10px;
}

.btn-secondary {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(18, 13, 13, 1) 52%);
    color: white;
    font-size: 130%;
}

.formComments {
    display: block;
    height: auto;
    width: 95%;
    font-family: 'Redressed', cursive;
    font-size: 150%;
}

.Info {
    margin-left: -20px;
    font-size: 70%;
    text-align: left;
}


/* .content {
    display: flex;
    align-items: center;
} */

.contentProfile {
    content: border-box;
    display: grid;
    grid-template-columns: 30% 70%;
}